* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: "Whyte";
  src: url("./fonts/whyte/ABCWhyte-Light.woff2");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Whyte";
  src: url("./fonts/whyte/ABCWhyte-Regular.woff2");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Whyte";
  src: url("./fonts/whyte/ABCWhyte-Medium.woff2");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Whyte";
  src: url("./fonts/whyte/ABCWhyte-Bold.woff2");
  font-style: normal;
  font-weight: 700;
}

h1 {
  font-family: "Whyte", Open sans-serif;
  font-size: 50px;
  text-align: center;
  font-weight: 700;
  padding-top: 50px;
  padding-bottom: 30px;
}

.sections {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-bottom: 250px;
}

.image-container {
  position: relative;
  display: inline-block;
  text-align: center;
}

.section-subtitle {
  color: white;
  font-family: "Whyte", Open sans-serif;
  font-weight: 300;
  font-size: 12px;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section-title {
  color: white;
  font-family: "Whyte", Open sans-serif;
  font-weight: 300;
  font-size: 58px;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bsk-teen-logo svg {
  fill: white;
  width: 250px;
}

.sections img {
  width: 460px;
  height: auto;
}

.img-hover-zoom {
  overflow: hidden;
}

.img-hover-zoom img {
  transition: transform 0.3s;
}

.img-hover-zoom:hover img {
  transform: scale(1.1);
}
.line {
  width: 95%;
  margin: 0 auto;
}
footer {
  padding-top: 20px;
  padding-bottom: 50px;
  font-family: "Whyte", Open sans-serif;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 40px;
}

.termns {
  width: 40%;
  cursor: pointer;
}

.termns li {
  padding-left: 35px;
  display: inline-block;
}

ul > li:before {
  content: "";
  display: list-item;
  position: absolute;
}

li:first-child {
  list-style-type: none;
}
.info {
  display: flex;
  gap: 30px;
  padding-right: 50px;
}
.info img {
  width: 16px;
  height: 16px;
}
.city {
  gap: 5px;
  display: flex;
  flex-direction: row;
  align-content: center;
}
.language {
  cursor: pointer;
  font-weight: 700;
}

.author {
  font-weight: 300;
}
